<ion-view>
    <ion-nav-title>
        CarPark
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-click="stopRoute()" class="button button-clear button-positive"><i class="icon ion-ios-close-empty"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div id="map"></div>
        <div class="list card" ng-hide="start">
            <ion-item ng-show="place.payingPark" ng-class="{'item-assertive':(item.type=='private' && item.freePlaces<=2) || (item.type=='public' && item.proba<=0.3),'item-energized':(item.type=='private' && item.freePlaces>2 && item.freePlaces<=10) || (item.type=='public' && item.proba>0.3 && item.proba<=0.7),'item-balanced':(item.type=='private' && item.freePlaces>10) || (item.type=='public' && item.proba>0.7)}" ng-click="choicePlace(item)" ng-class="" ng-repeat="item in items | orderBy:'-freePlace' | orderBy:'-proba' | limitTo:3">
                <img ng-if="item.type=='private'" height="20" src="img/private.png">
                <img ng-if="item.type=='public'" height="20" src="img/public.png">
                <span ng-if="item.type=='private'">
                    {{item.name}}
                    <span class="badge badge-stable">{{item.freePlaces}} places</span>
                </span>
                <span ng-if="item.type=='public'">
                    Place vacante
                    <span class="badge badge-stable">{{item.proba*100|number:0}}%</span>
                </span>
            </ion-item>
            <ion-item ng-hide="place.payingPark" ng-class="{'item-assertive':(item.type=='private' && item.freePlaces<=2) || (item.type=='public' && item.proba<=0.3),'item-energized':(item.type=='private' && item.freePlaces>2 && item.freePlaces<=10) || (item.type=='public' && item.proba>0.3 && item.proba<=0.7),'item-balanced':(item.type=='private' && item.freePlaces>10) || (item.type=='public' && item.proba>0.7)}" ng-click="choicePlace(item)" ng-class="" ng-repeat="item in items | orderBy:'-freePlace' | orderBy:'-proba' | filter:{'type':'public'} | limitTo:3">
                <img ng-if="item.type=='private'" height="20" src="img/private.png">
                <img ng-if="item.type=='public'" height="20" src="img/public.png">
                <span ng-if="item.type=='private'">
                    {{item.name}}
                    <span class="badge badge-stable">{{item.freePlaces}} places</span>
                </span>
                <span ng-if="item.type=='public'">
                    Place vacante
                    <span class="badge badge-stable">{{item.proba*100|number:0}}%</span>
                </span>
            </ion-item>
        </div>
        <div class="list card" ng-show="start">
            <div class="item item-text-wrap">
                <span ng-bind-html="currentStep.instructions|html"></span> ({{currentStep.distance.text}}/{{currentStep.duration.text}})
            </div>
        </div>
        <button ng-show="!start" type="button" class="button cercle-button" style="background: #8bd5e0; color: white;" ng-click="startRoute()">Go</button>
    </ion-content>
</ion-view>
