<ion-view>
    <ion-nav-title>
        Accueil
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive"><i class="icon ion-ios-close-empty"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="modalParametres.show()"><i class="icon ion-ios-lightbulb-outline"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item href="#/carpark">
                Car park
            </ion-item>
            <ion-item href="#/freeplace">
                Free place
            </ion-item>
            <ion-item href="#/chargingstation">
                Charging station
            </ion-item>
          </ion-list>
    </ion-content>
</ion-view>
