<ion-view>
    <ion-nav-title>
        Accueil
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="modalParametres.show()"><i class="icon ion-ios-lightbulb-outline"></i></button>
    </ion-nav-buttons>

    <ion-content>
    <div ng-show="user.logged">
    	<h2>Bonjour {{user.login}}</h2>
    </div>
        <ion-list>
            <ion-item href="#/carpark">
                Car park
            </ion-item>
            <ion-item href="#/freeplace">
                Free place
            </ion-item>
            <ion-item href="#/chargingstation">
                Charging station
            </ion-item>
            <ion-item nav-clear menu-close href="#/profile">
                Profile
            </ion-item>
            <ion-item nav-clear menu-close ng-click="showLoginPopup()" ng-hide="user.logged">
                Login
            </ion-item>
            <ion-item nav-clear menu-close ng-click="logout()" ng-show="user.logged">
                Logout
            </ion-item>
        </ion-list>            
    </ion-content>

    <div ng-class="{'animated fadeInUp': !elapsed, 'animated fadeOutDown':elapsed}" ng-hide="elapsed" style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
          <div class="card">
            <div class="item item-divider">
              Informations
            </div>
            <div class="item item-text-wrap energized">
              blabla
            </div>
          </div>
        </div>
    </div>
</ion-view>

    <div ng-class="{'animated fadeInUp': !elapsed, 'animated fadeOutDown':elapsed}" ng-hide="elapsed" style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
          <div class="card">
            <div class="item item-divider">
              Informations
            </div>
            <div class="item item-text-wrap energized">
              blabla
            </div>
          </div>
        </div>
    </div>
</ion-view>
