<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Paramètres</h1>
        <button class="button button-clear button-positive" ng-click="modalParametres.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-toggle ng-model="payingPark" ng-checked="payingPark" ng-change="setPaying(payingPark)">Parking Payant</ion-toggle>
        <div class="item item-divider">
          Rayon de recherche : {{radius}} m
        </div>
        <div class="item range">
          <i class=" ">10</i>
          <input type="range" name="Rayon" ng-model="radius" ng-change="setRadius(radius)" min="10" max="1000">
          <i class=" ">1000</i>
        </div>
        <div class="item item-divider">
          Limite du nombre de parkings cherchés : {{limit}}
        </div>
        <div class="item range">
          <i class=" ">1</i>
          <input type="range" name="Limite" ng-model="limit" ng-change="setLimit(limit)" min="1" max="25">
          <i class=" ">25</i>
        </div>
      </div>
    </ion-content>
</ion-modal-view>
