<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Connexion perdu</h1>
        <button class="button button-clear button-positive" ng-click="reload()"><i class="icon ion-ios-refresh-empty"></i></button>
    </ion-header-bar>
    <ion-content class="has-header scroll-content">
        <div class="item-center royal">
            Erreur lors du chargement?!
            <br />
            Peut être une simple erreur de chargement suite à une petite coupure!
            <br />
            <img src="img/face-128.png" alt=";)"/>
            <span>
                <br />
                Si le problème persiste, nous vous conseillons de vous déconnecter
                et de vous connectez de nouveau.
            </span>
            <button class="button button-royal" ng-click="activeModeHorsConnexion()">Mode hors connexion</button>
        </div>
    </ion-content>
</ion-modal-view>
