<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-positive" ng-click="modalInformation.hide()">
            <i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">Feedback</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button button-light">
        No free places
      </button>

      <button class="button button-stable">
        1 - 2 free places
      </button>

      <button class="button button-stable">
        More than 3 free places
      </button>
    </ion-content>
</ion-modal-view>  