<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Paramètres</h1>
        <button class="button button-clear button-positive" ng-click="modalParametres.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked" 
                    ng-checked="item.checked">
          {{ item.text }}
        </ion-toggle>        
      </div> 
    </ion-content>
</ion-modal-view>  